{% extends 'base.html' %}
{% block title %}Course Detail{% endblock %}
{% block content %}

    <!-- PAGE TITLE
        ================================================== -->
    <header class="py-8 py-md-11" style="background-image: none;">
        <div class="container text-center py-xl-2">
            <h1 class="display-4 fw-semi-bold mb-0">Course Detail</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                    <li class="breadcrumb-item">
                        <a class="text-gray-800" href="#">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                        Course Detail
                    </li>
                </ol>
            </nav>
        </div>
        <!-- Img -->
        <img class="d-none img-fluid" src="...html" alt="...">
    </header>
    <!-- Card -->
    <div class="card" style="width:80%;margin-left:10%;">
      <div class="card-body my-3">
        <ol class="list-group list-group-numbered">
          <li class="list-group-item">A list item</li>
          <li class="list-group-item">A list item</li>
          <li class="list-group-item">A list item</li>
        </ol>
      </div>
        {% include 'components/msg.html' %}
        <div class="card-body">
            <form action="{% url 'registerCourse' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    {{course_form.as_p}}
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>

        </div>
    </div>
{% endblock %}